/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  overflow: hidden;
  position: relative;
}

.container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid red;
}

.slider {
  display: contents;
}

.Profil {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.Profil:hover {
  transform: scale(1.05);
}

img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
}

h2 {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.butonLeft {
  height: 30px;
  width: 40px;
  border-radius: 30px;
  /* border: 1px ; */
  margin-right: 70px;
  position: relative;
}
.butonRight {
  height: 30px;
  width: 40px;
  border-radius: 30px;
  /* border: 1px ; */
  margin-left: 70px;
  position: relative;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
